
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #eee7e7;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h6>
            The Time is: @DateTime.Now
        </h6>

        <h2>
            @ViewBag.Greeting
        </h2>

        <h3>
            We are going to have an exciting party.
        </h3>

        <div class="btn btn-lg btn-danger">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>

    </div>
</body>
</html>
